@{
    ViewData["Title"] = "Анкеты пользователей";
}
<div class="text-center">
    <h1 class="display-8">@ViewData["Title"]</h1>
    <p>Этот раздел содержит анкеты пользователей</p>
    <p>Вы можете добавить свою анкету <a asp-controller="Home" asp-action="AddAnket">здесь</a></p>
    <p>Вы можете найти анкеты <a asp-controller="Home" asp-action="Search">здесь</a></p>
</div>

